.logo {
  background: url("/img/logo-bap-2705.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  max-width: 320px;
  height: 246px;
  margin: 0 auto;
  z-index: 3;
  position: relative;
}